@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  
  /* Additional global styling for the page */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }